/node_modules
/public/hot
/vendor
docker/mysql/data/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.pem
*.key
src_backup/


